<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"appDropDown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">add ingrediants</a></li>
        <li><a href="#">edit recipe</a></li>
        <li><a href="#">delete recipe</a></li>
        </ul>
      </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe1.image }}" alt="{{ recipe1.name }}" class="img-responsive" style="max-height:100px">
  </div>
</div>
<br />

<div class="row">
  <div class="col-xs-12">
    <p>
      {{ recipe1.description }}
      </p>
  </div>
</div>
